################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
/src/handyNews/HtmlDebugApp/bin
/src/handyNews/HtmlDebugApp/obj
*.user
/src/handyNews/Inoreader/Inoreader.Windows/bin/Debug
/src/handyNews/Inoreader/Inoreader.Windows/obj
/src/handyNews/Inoreader/Inoreader.WindowsPhone/AppPackages
/src/handyNews/Inoreader/Inoreader.WindowsPhone/bin
/src/handyNews/Inoreader/Inoreader.WindowsPhone/obj
/src/handyNews/Inoreader.Api/bin
/src/handyNews/Inoreader.Api/obj
/src/handyNews/packages
*.suo
*.DotSettings
/src/handyNews/Inoreader/Inoreader.WindowsPhone/BundleArtifacts
/src/handyNews/Inoreader/Inoreader.WindowsPhone/Assets/DebugSignInData.json
/src/handyNews/Inoreader/Inoreader.WindowsPhone/Assets/ApiAuth.json
/src/handyNews/Inoreader.Tests/bin/Debug
/src/handyNews/Inoreader.Tests/obj/Debug
/src/handyNews/Inoreader.Tests/obj/Release
*.xbf
/src/handyNews/Inoreader.Domain/bin
/src/handyNews/Inoreader.Domain/obj
/src/handyNews/Inoreader.Tests/obj/ARM/Debug
/src/handyNews/handyNews.UWP/bin/x86/Debug
/src/handyNews/handyNews.UWP/obj/x86/Debug
/src/handyNews/.vs/config
/src/handyNews/handyNews.UWP/project.lock.json
/src/handyNews/.vs/config
/src/handyNews/handyNews.UWP
/src/handyNews/Inoreader.Tests/bin
/src/handyNews/Inoreader.Tests/obj
/src/handyNews/handyNews.UWP/Assets/ApiAuth.json
/src/handyNews/handyNews.UWP/Assets/DebugSignInData.json
/src/handyNews/handyNews.UWP/bin
/src/handyNews/handyNews.UWP/obj

/src/handyNews/handyNews.API/bin
/src/handyNews/handyNews.API/obj
/src/handyNews/handyNews.Domain/bin
/src/handyNews/handyNews.Domain/obj
/src/handyNews/handyNews.API/project.lock.json
/src/handyNews/handyNews.Domain/project.lock.json
/src/backup/Inoreader/Inoreader.WindowsPhone/bin/x86
/src/backup/Inoreader/Inoreader.WindowsPhone/obj
/src/backup/Inoreader.Api/bin/x86
/src/backup/Inoreader.Api/obj/ARM/Debug UWP
/src/backup/Inoreader.Api/obj
/src/backup/Inoreader.Domain/bin/x86
/src/backup/Inoreader.Domain/obj
/src/backup/Inoreader/Inoreader.WindowsPhone/Assets/DebugSignInData.json
bin/
obj/