<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights" />
    <Add Type="Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry.RemoteDependencyModule, Microsoft.ApplicationInsights.Extensibility.RuntimeTelemetry" />
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Windows.PageViewTelemetryModule, Microsoft.ApplicationInsights.Extensibility.Windows" />
  </TelemetryModules>
  <ActiveProfile>Production</ActiveProfile>
  <DebugBuildProfile>Development</DebugBuildProfile>
  <Profiles>
    <!-- Learn more about Application Insights configuration with ApplicationInsights.config here: 
         http://go.microsoft.com/fwlink/?LinkID=392530
        
         Settings defined under <Defaults> are merged with their overrides specified under active <Profile> element 
         You can select which profile is active by using <ActiveProfile> element. If this element is missing, default settings 
         are used. 
             
         The <DebugBuildProfile> element defines the profile that will be used when a debug version of the application is built
         within Visual Studio. -->
    <Defaults>
      <!-- Application Insights component settings -->
      <ComponentSettings>
        <!-- Account id is used to uniquely identify your Application Insights account. -->
        <AccountID />
        <!-- A unique identifier of the application component in Application Insights. It is used to differentiate data sent 
            by different components and from different applications. -->
        <ComponentID>d8e79305-061a-4d3f-8e37-f49546680a7d</ComponentID>
        <!-- A name under which your monitored application component is displayed in the Application Insights -->
        <ComponentName />
      </ComponentSettings>
      <ContextInitializers>
        <!-- 
            Context initializers are responsible for populating environment-based properties on a new instance of TelemetryContext.
            They are run once per instance of TelementryContext.
        -->
        <Add Type="Microsoft.ApplicationInsights.Platform.ComponentContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.DeviceContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.UserContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.SessionContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
      </ContextInitializers>
      <TelemetryInitializers>
        <!-- 
            Telemetry initializers are responsible for populating per-telemetry item properties on a instance of ITelemetry.
            They are run once per instance of ITelementry.
        -->
        <Add Type="Microsoft.ApplicationInsights.Platform.NetBiosMachineNameTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.OperatingSystemTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.ProcessIdTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.ProcessNameTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.ThreadIdTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
        <Add Type="Microsoft.ApplicationInsights.Platform.ThreadLanguageTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
      </TelemetryInitializers>
      <TelemetryChannel>
        <!-- 
            The telemetry channel section can be used to configure the behavior of the SDK with respect to sending data to 
            the Application Insights service.
        -->
      </TelemetryChannel>
    </Defaults>
    <Profile name="Production">
      <ClientAnalytics>
        <!-- Determines whether or not events will appear in raw form in the developer dashboard. It is recommended this be set
             to true for debug builds when diagnosing your application's use of telemetry events. For deployment, it is
             highly recommended that this value be false. -->
        <SendToRawStream>false</SendToRawStream>
        <!-- When CollectUserName is set to true, Application Insights SDK collects user name from the machine sending 
             events. This data is only meaningful when SendToRawStream is true. -->
        <CollectUserName>false</CollectUserName>
        <!-- When CollectMachineName is set to true, Application Insights SDK collects machine name from the machine
             sending events. This data is only meaningful when SendToRawStream is true. -->
        <CollectMachineName>false</CollectMachineName>
        <!-- Session timeout in seconds -->
        <ResumeRestartTimeoutSeconds>300</ResumeRestartTimeoutSeconds>
      </ClientAnalytics>
    </Profile>
    <Profile name="Development">
      <ClientAnalytics>
        <!-- Determines whether or not events will appear in raw form in the developer dashboard. It is recommended this be set
             to true for debug builds when diagnosing your application's use of telemetry events. For deployment, it is
             highly recommended that this value be false. -->
        <SendToRawStream>true</SendToRawStream>
        <!-- When CollectUserName is set to true, Application Insights SDK collects user name from the machine sending 
             events. This data is only meaningful when SendToRawStream is true. -->
        <CollectUserName>true</CollectUserName>
        <!-- When CollectMachineName is set to true, Application Insights SDK collects machine name from the machine
             sending events. This data is only meaningful when SendToRawStream is true. -->
        <CollectMachineName>true</CollectMachineName>
        <!-- Session timeout in seconds when debugging-->
        <ResumeRestartTimeoutSeconds>5</ResumeRestartTimeoutSeconds>
      </ClientAnalytics>
      <TelemetryChannel>
        <!-- 
            The telemetry channel section can be used to configure the behavior of the SDK with respect to sending data to 
            the Application Insights service.
        -->
        <SendToRawStream>true</SendToRawStream>
      </TelemetryChannel>
    </Profile>
  </Profiles>
  <ContextInitializers>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.ComponentContextInitializer, Microsoft.ApplicationInsights" />
    <Add Type="Microsoft.ApplicationInsights.Extensibility.DeviceContextInitializer, Microsoft.ApplicationInsights" />
  </ContextInitializers>
  <TelemetryInitializers>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.StoreAppSessionInitializer, Microsoft.ApplicationInsights" />
    <Add Type="Microsoft.ApplicationInsights.Extensibility.StoreAppUserInitializer, Microsoft.ApplicationInsights" />
  </TelemetryInitializers>
  <!-- This key is for Application Insights resource 'Inoreader Free' in resource group 'Inoreader' -->
  <InstrumentationKey>d8e79305-061a-4d3f-8e37-f49546680a7d</InstrumentationKey>
</ApplicationInsights>